
.content{
   float: left;
}
.content.kiri{
    
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content.kiri a{
    text-decoration: none;
    color: black;
}
.content.mid{
    width: 78%;  
    
}
.content.mid td{
    width: 20%;
    
}
.content.mid img{
    width: 50%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.content.kiri img{
    width: 95%;
    border-top-left-radius: 20%;
   
}

.cont-row:after{
    content: "";
    display: table;
    clear: both;
}

.nav{
    overflow: hidden;
    background-color: #6b6969; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 17px;
    
}

.nav a:hover{
    background-color :#bbb3b3;
}
.list-buku{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 100%;
}

.footer{
    background-color: #6b6969;
    position: relative;
    clear: both;
    height: 80px;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    color: white;
}