*{padding: 0px; margin: 0px;}
.main{
text-align: center;
border: 1px solid black;
margin: 100px 300px;


}

.info{
    margin: 20px;
}
.info input,select{
    
    width: 50%;
    margin-bottom:20px;
    border-radius: 4px;
    padding: 12px 0px;
    border: 1px solid black;
}
.info input:focus{
    border:3px solid grey;
}
.info input[type ="submit"]{
    display: block;
    cursor: pointer;
    background-color: #3fb544;
    border: none;
    color: white;
    margin-left: 180px;
}
.info input[type="submit"]:hover{
    opacity: 0.8;
}