*{padding: 0px; margin: 0px;}
.main{

}
.left-content{
    float: left;
    width: 20%;
    background-color: blue;
    text-align: center;
    padding-bottom:495px;
}
.left-content a{
    text-decoration: none;
    color: white;
    
}
.left-content li{
    padding: 10px;
}
.left-content img{
    padding-top: 30px;
}

.mid-content{
    float: left;
    width: 80%;
}
hr{
    margin-top: 100px;
    margin-bottom: 50px;
}
.info{
    margin: 20px;
}
.info input,select{
    width: 50%;
    margin-bottom:20px;
    border-radius: 4px;
    padding: 17px 0px;
    border: 1px solid black;
}
.info input:focus{
    border:3px solid grey;
}